<%= chat(identity: current_user.email) %>

<!-- Chat Box Bootstrap -->
<div class="chat-box">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Batman
          <ul class="list-unstyled list-inline pull-right">
            <li><a href="#"><i class="fa fa-minus"></i></a></li>
            <li><a href="#"><i class="fa fa-expand"></i></a></a></li>
            <li><a href="#"><i class="fa fa-close"></i></a></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <ul class="chat list-unstyled">
            <li class="chat-item item-left clearfix">
              <div class="chat-user">
                <img src="http://lorempixel.com/50/50/" class="img-circle img-responsive">
              </div>
              <div class="chat-body">
                <div class="name">Batman</div>
                <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 15 mins ago</div>
                <div class="text">
                  <p>Using my detective skills, I've determined your true identity.</p>
                </div>
              </div>
            </li> <!-- chat 1 -->
            <li class="chat-item item-right clearfix">
              <div class="chat-user">
                <img src="http://lorempixel.com/50/50/" class="img-circle img-responsive">
              </div>
              <div class="chat-body">
                <div class="name">Superman</div>
                <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 10 mins ago</div>
                <div class="text">
                  <p>This is awkward...</p>
                  <p>...</p>
                </div>
              </div>
            </li> <!-- chat 2 -->
            <li class="chat-item item-left clearfix">
              <div class="chat-user">
                <img src="http://lorempixel.com/50/50/" class="img-circle img-responsive">
              </div>
              <div class="chat-body">
                <div class="name">Batman</div>
                <div class="time hidden-xs"><i class="fa fa-clock-o"></i> 3 mins ago</div>
                <div class="text">
                  <p>Hey, I was being sarcastic.</p>
                </div>
              </div>
            </li> <!-- chat 3 -->
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
