# endpoint_url: The Binnacle Endpoint URL (BINNACLE_URL)
BINNACLE_URL=http://localhost:8080

# account_id: Your Binnacle Account ID (BINNACLE_ACCOUNT)
BINNACLE_ACCOUNT=xxxxxx

# app_id: Your Binnacle App ID (BINNACLE_APP)
BINNACLE_APP=xxxxx

# api_key: An approved publisher API key for the App (BINNACLE_API_KEY)
BINNACLE_API_KEY=xxxx

# api_secret: The API secret for the given API key (BINNACLE_API_SECRET)
BINNACLE_API_SECRET=xxxx

# default context to use
BINNACLE_CTX=xxxx
