/*
 *= require jquery-ui
 *= require jspanel/jquery.jspanel
 */
 
.jsPanel { overflow: visible; }
.jsPanel-hdr { padding: 5px 10px; }
.jsPanel-hdr-r span { color: #fff; font-size: 12px; }
#messages { margin-bottom: 45px; padding: 10px; }
.jsPanel-btn-small { display: none !important; }
#footer {
  position: absolute;
  width: 100%;
  background: #eee;
  bottom: 0;
  left: 0;
  padding: 10px;
}
#footer .members {
  cursor: pointer;
  color: #444;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 0;
  text-decoration: none;
}
#footer .members:hover { color: #337ab7; }
#footer .popover-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
#footer .popover-content li { padding: 3px 0; }
#footer form { width: 95%; }
h3.jsPanel-title { 
  color: #fff !important;
  font-size: 14px;
  font-variant: normal;
  text-transform: capitalize; 
  padding: 0;
  line-height: 1.5;
}
.binnacle_chat .chat-item { padding: 5px 0; }
.binnacle_chat .chat-user {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-clip: padding-box;
  margin-top: 6px;
}
.binnacle_chat .item-left .chat-user { float: left; }
.binnacle_chat .item-right .chat-user { float: right; }
.binnacle_chat .chat-body {
  padding: 8px 10px;
  border-radius: 5px;
  position: relative;
  background-clip: padding-box;
  width: 75%;
}
.binnacle_chat .item-left .chat-body { background: #f5f5f5; margin-left: 60px; }
.binnacle_chat .item-right .chat-body { background: #dceffc; margin-right: 10px; float: right; }
.binnacle_chat .chat-item .chat-body:before {
  border-style: solid;
  border-width: 6px;
  content: "";
  cursor: pointer;
  position: absolute;
  top: 25px;
}
.binnacle_chat .item-left .chat-body:before { border-color: transparent #f5f5f5 transparent transparent; left: -12px; }
.binnacle_chat .item-right .chat-body:before { border-color: transparent transparent transparent #dceffc; right: -12px; }
.binnacle_chat .chat-item .name { font-weight: 600; margin-bottom: 5px; }
.binnacle_chat .chat-item .time {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #666;
  font-size: 10px;
  font-weight: 300;
}